<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Security Researcher with a passion for OSINT (Open-Source Intelligence) and ethical hacking. While I have 
          minimal formal experience in the field, I have spent countless hours honing my skills and expanding my knowledge. 
          I have a natural curiosity for understanding how systems work and identifying potential vulnerabilities, and I am 
          constantly seeking out new challenges to improve my abilities.</p>
      </div>
      <div class="col-lg-4">
        <p>Despite my limited experience, I am always eager to learn and grow in the field of cybersecurity. I believe that 
          my dedication and passion for the work, combined with my technical skills and attention to detail, make me a 
          valuable asset to any team or organization looking to improve their security posture.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
